#wrapper {
    width: 100%;
    margin: 0 auto;
}
header {}
.logo {}
.nav {}
.nav ul {}
.content {
    display:block;
    border: 1px solid black;
    width: 960px;
    margin: 0 auto;
}
h1 {}
.headshot {}
.content p {}
